/*
    Reset
    */
* {
    padding: 0;
    margin: o;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;

}

/*
General
*/
#didascalia{
    margin-bottom: 70px;
}

.centratura{
text-align: center;
}
#titolone{
color: coral;
}
.nome{
font-size: large bold;
color: white;
}
.ruolo{
color: white;
}
.mail{
color: rgb(17, 138, 203);
}
.sfondo-nero{
 background-color: black;
 padding: auto;
}

.sfondo-bianco{
background-color: white;
}
.nome .ruolo{
    color: rgb(75, 17, 163);
}
img{
    width: 100px;
    height: 100px;

}
.float-left{
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.nome .ruolo .mail{
    margin: 20px 0;
    text-align: right;
}
.primo-contenitore > *{
float: left;
width: calc(100% / 3);
}
.secondo-contenitore > *{
    float: left;
    width: calc(100% / 3);
    }
.ridimensiona-elemento{
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5%;
}